*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuadro{
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  background-color: cadetblue;
  border: 1px solid #000;
  border-radius: 20px;
  
  display: flex;
  /* display: inline-flex; */

  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  flex-direction: row;
  /* flex-direction: row-reverse; */

  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  
  /* flex-flow: column wrap; */

  justify-content: flex-start;
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  align-items: flex-start;
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: stretch; */
  
  align-content: flex-start;
  /* align-content: flex-end; */
  /* align-content: center; */
  /* align-content: space-around; */
}

.cuadro__items{
  width: 200px;
  height: 200px;
  background-color: azure;
  border: 1px solid #000;
  border-radius: 20px;
  text-align: center;
  align-content:center;
}

.cuadro .cuadro__items:nth-child(3){
  background-color: steelblue;
  order: -1;
}

@media (width < 700px){
  .cuadro{
    background-color: black;
    flex-direction: column;
  }

  .cuadro__items{
    background-color: white;
  }

  .cuadro .cuadro__items:nth-child(3){
  background-color: gray;
  order: 1;
}
} 