@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(Variables.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: var(--fondo-body);
  height: 200vh;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.encabezado{
  max-width: 100%;
  height: auto;
  background-image: var(--fondo-encabezado);
  background-blend-mode: color-dodge;
  background-size: 230px;
  display: flex;
  border-bottom: 2.5px solid var(--gris2);
  padding: 0 40px;
  align-items: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  
}

.encabezado__linklogo{
  display: flex;
  height: 40px;
  align-self: center;
}

.encabezado__link{
  text-decoration: none;
  color: var(--blanco);
  font-size: 15px;
  display: block;
  height: 100%;
  padding: 25px 20px 15px;
}

.encabezado__nav{
  display: flex;
}

.encabezado__item{
  list-style: none;
}

.encabezado__busqueda{
  position: fixed;
  display: flex;
  text-decoration: none;
  top: 15px;
  right: 50px;
  width: 32px;
  height: 32px;
  background-color: var(--blanco);
  border-radius: 100%;
  justify-content: center;
}

.encabezado__icon{
  color: var(--negro);
  font-size: 22px;
  font-style: normal;
}

.encabezado__icon::before{
  content: "🔍︎";
}

.encabezado__logo:hover{
  cursor: pointer;
}
.encabezado__busqueda:hover{
  background-color: var(--gris1);
}
.encabezado__item:hover{
  background-color: var(--transparencia-items);
  cursor: pointer;
  
}
.encabezado__link:hover{
  color: var(--naranja-items);
}